<div class="login-container">
  <mat-card class="login-card">
    <h1>Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="formControl mb-2">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required />
          @if (loginForm.get('email')?.invalid) {
          <mat-error>Please enter a valid email</mat-error>}
        </mat-form-field>
      </div>
      <div class="formControl mb-2">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
          @if (loginForm.get('password')?.hasError('required')) {
          <mat-error>Password is required</mat-error>}
        </mat-form-field>
      </div>
      <button
        class="btn btn-primary login-button"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </mat-card>
</div>
