<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add Product</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name</label>
      <input
        class="form-control"
        type="text"
        id="name"
        name="name"
        [(ngModel)]="enteredName"
      />
    </div>
    <div>
      <label for="calories">Calories (kcal)</label>
      <input
        class="form-control"
        type="number"
        id="calories"
        name="calories"
        [(ngModel)]="enteredCalories"
      />
    </div>
    <div>
      <label for="fats">Fats (g)</label>
      <input
        class="form-control"
        type="number"
        id="fats"
        name="fats"
        [(ngModel)]="enteredFats"
      />
    </div>
    <div>
      <label for="carbs">Carbs (g)</label>
      <input
        class="form-control"
        type="number"
        id="carbs"
        name="carbs"
        [(ngModel)]="enteredCarbs"
      />
    </div>
    <div>
      <label for="proteins">Proteins (g)</label>
      <input
        class="form-control"
        type="number"
        id="proteins"
        name="proteins"
        [(ngModel)]="enteredProteins"
      />
    </div>
    <div>
      <label for="fiber">Fiber (g)</label>
      <input
        class="form-control"
        type="number"
        id="fiber"
        name="fiber"
        [(ngModel)]="enteredFiber"
      />
    </div>
    <div>
      <div>
        <label for="price">Price (€)</label>
        <input
          class="form-control"
          type="number"
          id="price"
          name="price"
          [(ngModel)]="enteredPrice"
        />
      </div>
      <div class="mb-2">
        <label for="weight">Weight (g)</label>
        <input
          class="form-control"
          type="number"
          id="weight"
          name="weight"
          [(ngModel)]="enteredWeight"
        />
      </div>
    </div>

    <div>
      <button type="button" class="btn btn-primary" (click)="onCancel()">
        Cancel
      </button>
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </form>
</dialog>
