<div class="register-container">
  <mat-card class="register-card">
    <h1>Register</h1>

    <form [formGroup]="regiserForm" (ngSubmit)="register()">
      <div class="formControl mb-2">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required />
          @if (regiserForm.get('email')?.invalid) {
          <mat-error>Please enter a valid email</mat-error>}
        </mat-form-field>
      </div>
      <div class="formControl mb-2">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
          <mat-error *ngIf="regiserForm.get('password')?.hasError('required')"
            >Password is required</mat-error
          >
          <mat-error *ngIf="regiserForm.get('password')?.hasError('minlength')"
            >Password must be at least 8 characters long</mat-error
          >
        </mat-form-field>
      </div>
      <div class="formControl mb-2">
        <mat-form-field appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
          @if(regiserForm.get('confirmPassword')?.hasError('isMatching')){
          <mat-error>Passwords do not match</mat-error>
          }
        </mat-form-field>
      </div>
      <button
        class="btn btn-primary register-button"
        type="submit"
        [disabled]="regiserForm.invalid"
      >
        Register
      </button>
    </form>
  </mat-card>
</div>
