<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    @if(accountService.currentUser()) {
    <a class="navbar-brand" routerLink="diary/food">HealthyLife</a>
    } @else {
    <a class="navbar-brand" routerLink="">HealthyLife</a>
    }
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      @if (accountService.currentUser()) {
      <ul class="navbar-nav me-auto">
        <li
          class="nav-item dropdown"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Diary</a
          >
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="diary/food"
                routerLinkActive="active"
                >Food</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="diary/workouts"
                routerLinkActive="active"
                >Workouts</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="diary/update-goals"
                routerLinkActive="active"
                >Update goals</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="products" routerLinkActive="active"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="exercises" routerLinkActive="active"
            >Exercises</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="supplements" routerLinkActive="active"
            >Supplements</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="btn btn-outline-primary" (click)="logout()">Logout</a>
        </li>
      </ul>
      }
    </div>
  </div>
</nav>
