@if (loadingInitial) {
<div>Loading data...</div>
} @else { @if (isUpdatingGoals) {
<app-update-goals [dailyGoals]="dailyGoals" (cancel)="onCloseUpdateGoals()" />
}

<div class="container">
  <div class="row">
    <div>
      <h1>Your diary for: Today</h1>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-7">
      <div>
        <h2>Meals</h2>
      </div>
      <app-meals-table [meals]="dailySum.meals"></app-meals-table>
    </div>
    <div class="col-md-4">
      <div>
        <h2>Workouts</h2>
      </div>
      <app-workouts-table
        [workouts]="dailySum.workouts"
        [dailySumId]="dailySum.id"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <p>
        <button class="btn btn-secondary" (click)="onStartUpdateGoals()">
          Update goals
        </button>
      </p>
      <app-daily-totals-table [dailySum]="dailySum" [dailyGoal]="dailyGoals" />
    </div>
  </div>
</div>
}
