@if(isAddingProduct){
<app-new-product (close)="onCloseAddProduct()" />
}

<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <h2>Products</h2>
      <div className="mb-3">
        <button class="btn btn-success mb-3" (click)="onStartAddProduct()">
          Add new product
        </button>
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Calories (g)</th>
            <th>Proteins (g)</th>
            <th>Carbs (g)</th>
            <th>Fats (g)</th>
            <th>Fiber (g)</th>
            <th>Price (€)</th>
            <th>Price per 100g protein (€)</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (product of products; track product.id) {
          <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.calories }}</td>
            <td>{{ product.proteins }}</td>
            <td>{{ product.carbs }}</td>
            <td>{{ product.fats }}</td>
            <td>{{ product.fiber }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.pricePerProteins | number : "1.2-2" }}</td>
            <td>
              <button class="btn btn-info">Edit</button>
              <button
                class="btn btn-danger"
                (click)="removeProduct(product.id)"
              >
                Delete
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
