<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Weight (g)</th>
      <th>Calories (kcal)</th>
      <th>Proteins (g)</th>
      <th>Carbs (g)</th>
      <th>Fats (g)</th>
      <th>Fiber (g)</th>
    </tr>
  </thead>
  <tbody>
    @for (meal of meals(); track meal.id) {
    <tr>
      <th>{{ meal.name }}</th>
      <td>
        <a class="btn btn-success" [routerLink]="['add-meal-items', meal.id]">
          Add
        </a>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    @for (mealItem of meal.mealItems; track mealItem.id) {
    <tr>
      <td>
        <button class="btn btn-danger" (click)="removeMealItem(mealItem.id)">
          Remove
        </button>
      </td>
      <td>{{ mealItem.product.name }}</td>
      <td>{{ mealItem.weight }}</td>
      <td>{{ mealItem.calories }}</td>
      <td>{{ mealItem.proteins }}</td>
      <td>{{ mealItem.carbs }}</td>
      <td>{{ mealItem.fats }}</td>
      <td>{{ mealItem.fiber }}</td>
    </tr>
    }
    <tr>
      <th>Totals</th>
      <td></td>
      <td></td>
      <td>{{ meal.calories }}</td>
      <td>{{ meal.proteins }}</td>
      <td>{{ meal.carbs }}</td>
      <td>{{ meal.fats }}</td>
      <td>{{ meal.fiber }}</td>
    </tr>
    }
  </tbody>
</table>
