@if (loadingInitial) {
<app-loading></app-loading>
} @else {

<div class="container">
  <div class="row mb-5">
    <app-date-controls (dateChange)="onDateChange($event)"></app-date-controls>
  </div>
  <div class="row mb-3 justify-content-center">
    <div class="col-md-8">
      <div class="d-flex justify-content-center">
        <h2>Meals</h2>
      </div>
      <app-meals-table [meals]="dailySum.meals"></app-meals-table>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <app-daily-totals-table [dailySum]="dailySum" [dailyGoal]="dailyGoals" />
    </div>
  </div>
</div>
}
