<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Supplements</h1>
        <button class="btn btn-success btn-lg" routerLink="new-supplement">
          <i class="bi bi-plus-circle me-2"></i>Add New Supplement
        </button>
      </div>

      <div class="card shadow-lg">
        <div class="card-body">
          <p-table
            #dt
            [value]="supplements"
            styleClass="p-datatable-striped p-datatable-hoverable p-datatable-gridlines p-datatable-sm"
            [responsive]="true"
            [paginator]="true"
            [rows]="10"
            [globalFilterFields]="['name', 'category']"
          >
            <ng-template pTemplate="caption">
              <div class="mb-3">
                <span class="p-input-icon-left">
                  <input
                    pInputText
                    type="text"
                    (input)="onGlobalFilter($event, dt)"
                    placeholder="Search keyword"
                  />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
                <th pSortableColumn="category">
                  Category <p-sortIcon field="category" />
                </th>
                <th pSortableColumn="servingForm">
                  Serving Form <p-sortIcon field="category" />
                </th>
                <th pSortableColumn="servingUnit">
                  Serving Unit <p-sortIcon field="servingUnit" />
                </th>
                <th pSortableColumn="servingSize">
                  Serving Size <p-sortIcon field="servingSize" />
                </th>
                <th pSortableColumn="servings">
                  Servings <p-sortIcon field="servings" />
                </th>
                <th pSortableColumn="totalQuantity">
                  Total Quantity <p-sortIcon field="totalQuantity" />
                </th>
                <th pSortableColumn="Price">
                  Price (€) <p-sortIcon field="price" />
                </th>
                <th pSortableColumn="pricePerServing">
                  Price per serving (€) <p-sortIcon field="pricePerServing" />
                </th>
                <th>Actions</th>
              </tr>
              <!-- <tr>
                <th>
                  <p-columnFilter
                    type="text"
                    field="name"
                    ariaLabel="Filter Name"
                  />
                </th>
                <th>
                  <p-columnFilter
                    type="text"
                    field="category"
                    ariaLabel="Filter Category"
                  />
                </th>
                <th>
                  <p-columnFilter
                    type="text"
                    field="servingForm"
                    ariaLabel="Filter ServingForm"
                  />
                </th>
                <th>
                  <p-columnFilter
                    type="text"
                    field="servingUnit"
                    ariaLabel="Filter ServingUnit"
                  />
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr> -->
            </ng-template>

            <ng-template pTemplate="body" let-supplement>
              <tr>
                <td>{{ supplement.name }}</td>
                <td>{{ supplement.category }}</td>
                <td>{{ supplement.servingForm }}</td>
                <td>{{ supplement.servingUnit }}</td>
                <td>{{ supplement.servingSize }}</td>
                <td>{{ supplement.servings }}</td>
                <td>{{ supplement.totalQuantity }}</td>
                <td>{{ supplement.price | currency : "EUR" }}</td>
                <td>{{ supplement.pricePerServing | currency : "EUR" }}</td>
                <td>
                  <button
                    class="btn btn-info btn-sm me-2"
                    [routerLink]="['edit-supplement', supplement.id]"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="deleteSupplement(supplement.id)"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
