/* You can add global styles to this file, and also import other style files */
@layer bootstrap, primeng;

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css" layer(bootstrap);
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css"
  layer(bootstrap);

@import "../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css"
  layer(primeng);
@import "../node_modules/primeng/resources/primeng.min.css" layer(primeng);
@import "primeicons/primeicons.css" layer(primeng);

.backdrop {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

dialog {
  width: 90%;
  max-width: 30rem;
  background-color: #433352;
  border-radius: 6px;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  padding: 1rem;
  top: 5rem;
  color: #ffffff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f0f2f5;
}
