<div
  class="container-fluid home-container d-flex align-items-center justify-content-center"
>
  <div class="text-center">
    <h1 class="display-4 mb-4">Welcome to HealthyLife</h1>
    <p class="lead mb-5">
      Track your calories, stay healthy, and achieve your fitness goals with
      HealthyLife!
    </p>

    <div class="d-flex justify-content-center">
      <a routerLink="/register" class="btn btn-primary btn-lg me-3">Register</a>
      <a routerLink="/login" class="btn btn-outline-primary btn-lg">Login</a>
    </div>
  </div>
</div>
